# IDEs/editors
.idea/
.vscode/
.cursor/
*.swp
*.swo
*.bak
*.tmp

# OS
.DS_Store
Thumbs.db

# Config
config.yaml

# Compiler
compile.sh
clean.sh
/target/
**/*.rs.bk
Cargo.lock
/builds/

# dev
install
development.md
publish.sh
releases/
RELEASE.md
TODO.md
backup.sh
.clinerules